$blueHard: #1a7db8;
$blueLight: #64afdc;
$yellow: #fffa19;
$red: #ff0000;
$green: #00ff00;

@mixin backgroundGradient($init, $end) {
  background: linear-gradient(90deg, $init, $end);
}

@mixin margenTB($top, $btn) {
  margin-top: $top;
  margin-bottom: $btn;
}

.jumbotron {
  @include backgroundGradient($blueLight, $blueHard);
  color: white;
  margin-top: 50px;
}

.banner {
  @include margenTB(50px, 20px);
  padding: 0% !important;
}

h3 {
  color: $blueHard;
}

.carousel-item {
  max-height: 620px;
}

.carousel-caption {
  font-weight: bolder;
  color: cornsilk;
}

.listaHoteles .card {
  width: 330px;
  height: auto;
  margin-top: 40px;
  color: #666;
}
.listaHoteles .card .card-title {
  color: #075f92;
  @include margenTB(30px, 30px);
}

.listaHoteles .card .btn {
  width: 40%;
}

.listaHoteles .card-img-top {
  height: 220px;
}

footer {
  padding: 20px;
  @include backgroundGradient($blueLight, $blueHard);
  margin-top: 50px;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

.breadcrumb a {
  color: #555;
}
/*about*/

.about {
  min-height: 500px;
}
#quien {
  width: 90%;
  margin-left: 5%;
}

/*contacto*/

.contacto {
  border: solid thin $blueLight;
  border-radius: 15px;
  width: 90%;
  padding: 50px;
  margin-left: 5%;
}

.about h1 {
  color: #555;
}

/*precios**/

.table th {
  min-width: 100px;
}

.tab-content {
  margin-top: 10px;
  min-height: 305px;
}
